[submodule "Yuki/vendor/spdlog"]
	path = Yuki/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Yuki/vendor/GLFW"]
	path = Yuki/vendor/GLFW
	url = https://github.com/phukaoz/glfw
[submodule "Yuki/vendor/imgui"]
	path = Yuki/vendor/imgui
	url = https://github.com/phukaoz/imgui
[submodule "Yuki/vendor/glm"]
	path = Yuki/vendor/glm
	url = https://github.com/g-truc/glm
